* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.card .imgAnimated:hover {
  transform: translateY(10px) scale(1.05);
  transition: ease-in-out 1.2s;
}

/* David */
#Team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#badges {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#badges img {
  width: 40px;
  height: 40px;
}

.badges :hover {
  -webkit-box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);
}

/* JB */
.jumbotron-bg {
  background-image: url("../img/header/pill_jumbotron.jpg");
  background-size: 100%;
  background-position: cover;
  height: 50vh;
}
