/* Partie Team Code Dealers  */

body{
    font-family: "Poppins";
}

#Team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#badges {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#badges img{
    width: 40px;
    height: 40px;
}

.badges :hover{
    -webkit-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
}